.homepage {
  padding: 40px 80px;
}

.homepage h2 {
  margin-bottom: 40px;
}

.homepage a {
  text-decoration: none;
  color: var(--main-font-color);
  white-space: nowrap;
}

.homepage a:focus, .homepage a:hover {
  outline: none;
  background-color: var(--main-font-color);
  box-shadow: 0 0 5px #22ff22, 0 0 5px #aaffaa;
  color: #1b3a22;
  text-shadow: none;
}

.homepage a:before {
  content:">";
  margin-right: 10px;
  visibility: hidden;
}

.homepage a:hover:before, .homepage a:focus:before {
  visibility: visible;
  /* animation: blinking 0.8s infinite step-start; */
}

.homepage .lastCatIndication {
  margin-left: 20px;
  color: rgb(255,255,50);
  animation: blinking 1s infinite step-start;
}

.homepage button {
  border: none;
  background: transparent;
  color: var(--main-font-color);
  font-family: "VT323";
  font-size: 30px;
  margin-top: 50px;
  cursor: pointer;
}