@font-face {
  src: url("../assets/fonts/VT323-Regular.ttf");
  font-family: "VT323";
}

:root {
  --main-bg-color: rgb(3,30,17);
  --main-font-color: rgb(18, 218, 64);
}

input:focus, button:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "VT323";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-size: 40px;
}

/* HOMEPAGE */
.homepage {
  padding: 40px 80px;
}

.homepage h2 {
  margin-bottom: 40px;
}

.homepage a {
  text-decoration: none;
  color: var(--main-font-color);
  white-space: nowrap;
}

.homepage a:focus, .homepage a:hover {
  outline: none;
  background-color: rgb(18, 218, 64);
  box-shadow: 0 0 5px #22ff22, 0 0 5px #aaffaa;
  color: #1b3a22;
  text-shadow: none;
}

.homepage a:before {
  content:">";
  margin-right: 10px;
  visibility: hidden;
}

.homepage a:hover:before, .homepage a:focus:before {
  visibility: visible;
  /* animation: blinking 0.8s infinite step-start; */
}

.homepage .lastCatIndication {
  margin-left: 20px;
  color: rgb(255,255,50);
  animation: blinking 1s infinite step-start;
}

.homepage button {
  border: none;
  background: transparent;
  color: var(--main-font-color);
  font-family: "VT323";
  font-size: 30px;
  margin-top: 50px;
  cursor: pointer;
}

/* CATEGORY */
.category {
  padding: 40px 80px;
}

.category .back {
  display: block;
  text-decoration: none;
  color: var(--main-font-color);
  white-space: nowrap;
  margin-bottom: 40px;
  width: min-content;
  transform: translateX(-30px);
}

.category .back:before {
  content:"<";
  margin-right: 10px;
  visibility: hidden;
}

.category .back:hover:before {
  content:"<";
  margin-right: 10px;
  visibility: visible;
}

.category h3 {
  margin-bottom: 10px;
}

.category .score {
  margin-bottom: 40px
}

.category .question {
  margin-bottom: 40px;
}

.category .question h4{
  margin-bottom: 10px;
}

.category .answer {
  white-space: nowrap;
  position: relative;
  width: min-content;
  height: min-content;
  margin-bottom: 20px;
}

.category .answerInput{
  font-family: "VT323";
  border: none;
  color: var(--main-font-color);
  font-size: 40px;
  background-color: transparent;
  width: min-content;
}

.category .answer span:before {
  content: "=>";
  margin-right: 10px;
}

.category .answerResult {
  margin-bottom: 40px;
}

.category button {
  border: none;
  background-color: transparent;
  color: var(--main-font-color);
  font-family: "VT323";
  font-size: 40px;
  cursor: pointer;
}

.category .nextQuestion {
  margin: 20px;
}

.homepage .moreCatButton {
  color: rgb(255,50,50);
}

.moreCatButton:hover {
  background-color: rgb(255,50,50);
  box-shadow: 0 0 5px rgb(221, 41, 41), 0 0 5px rgb(255, 84, 84);
  color: #1b3a22;
  text-shadow: none;
}

.nextQuestion:hover {
  /* height: 16px;
  line-height: 12px; */
  background-color: rgb(18, 218, 64);
  box-shadow: 0 0 5px #22ff22, 0 0 5px #aaffaa;
  color: #1b3a22;
  text-shadow: none;
  }

.category .reset {
  margin-top: 40px;
  transform: translateX(-30px);
}

.category a:focus, .category a:hover, .category button:focus, .category button:hover {
  outline: none;
  background-color: rgb(18, 218, 64);
  box-shadow: 0 0 5px #22ff22, 0 0 5px #aaffaa;
  color: #1b3a22;
  text-shadow: none;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* LE BEAU CSS DE QUENTIN L'ENGIN */

.crt, .crt button, .crt input {
  animation: textShadow 1.6s infinite;
}


.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.2), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.2), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.2), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.2), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.2), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.2), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.2), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.2), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.2), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.2), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.2), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.2), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.2), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.2), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.2), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.2), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.2), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.2), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.2), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.2), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.2), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}