.homepage {
  padding: 40px 80px;

  h2 {
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    color: var(--main-font-color);
    white-space: nowrap;

    &:before {
      content:">";
      margin-right: 10px;
      visibility: hidden;
    }
    
    &:focus, &:hover {
      outline: none;
      background-color: var(--main-font-color);
      box-shadow: 0 0 5px #22ff22, 0 0 5px #aaffaa;
      color: #1b3a22;
      text-shadow: none;
      &:before {
        visibility: visible;
        /* animation: blinking 0.8s infinite step-start; */  
      }
    }
  }

  button {
    border: none;
    background: transparent;
    color: var(--main-font-color);
    font-family: "VT323";
    font-size: 30px;
    margin-top: 50px;
    cursor: pointer;
  }

  .lastCatIndication{
    margin-left: 20px;
    color: rgb(255,255,50);
    animation: blinking 1s infinite step-start;
  }

  .moreCatButton {
    color: rgb(255,50,50);
    &:hover {
      background-color: rgb(255,50,50);
      box-shadow: 0 0 5px rgb(221, 41, 41), 0 0 5px rgb(255, 84, 84);
      color: #1b3a22;
      text-shadow: none;
    }
  }
}